.header {
font-weight : bold;
font-style: italic;
font-family: verdana;
}
.note {
font-size: 18px;
font-weight: 500;
font-style: italic;
}
.copy-right-footer {
background-color: silver;
color : white;
font-weight: bold;
font-style : italic;
position: fixed;
bottom : 0;
margin :0;
width : 100%;
text-align: center;

line-height: 3;
font-size : 22px;
}
.theClass {
color: blue;
font-weight: bold;
}